@media screen {
  /* --- Reset Styles --- */
  * {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header {
    background-color: white;
    height: 0%;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    min-height: 135px;
    box-shadow: 5px 5px 5px 5px black;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  #logo {
    padding: 20px 20px;
    height: 75%;
  }
  
  .menu-container {
    float: left;
    width: 26%;
    position: relative;
    overflow: hidden;  
    padding: 40px 40px;
  }
  
  div.menu-icons:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  .menu-icons {
    display: grid;
    place-items: center;
    height: 55px;
    width: 50px;
  }
  
  span {
    width: 50px;
    height: 3px;
    background: black;
    display: block;
  }
    /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  .main {
    width: 65%;
    height: auto;
    margin: 0 auto;
    padding: 350px 50px 350px 50px;
    background-color: white;
    opacity: .97;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    justify-content: center;
  }

  .footer {
    background-color: white;
    width: 100%;
    height: 75px;
    position: fixed;
    bottom: 0;
    box-shadow: 25px 25px 25px 25px black;
  }

}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  * {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header {
    background-color: white;
    height: 0%;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    min-height: 135px;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  #logo {
    padding: 20px 20px;
    height: 75%;
  }
  
  .menu-container {
    float: left;
    width: 26%;
    position: relative;
    overflow: hidden;  
    padding: 40px 40px;
  }
  
  div.menu-icons:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  .menu-icons {
    display: grid;
    place-items: center;
    height: 55px;
    width: 50px;
  }
  
  span {
    width: 50px;
    height: 3px;
    background: black;
    display: block;
  }
    /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  .main {
    width: 65%;
    height: auto;
    margin: 0 auto;
    padding: 350px 50px 350px 50px;
    background-color: white;
    opacity: .97;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    justify-content: center;
  }

  .footer {
    background-color: white;
    width: 100%;
    height: 75px;
    position: fixed;
    bottom: 0;
  }

}